.container {
  height: 90px;
  
  width:100%;
  padding-top: 30px;
}
ion-toolbar {
  --background: #ffae00;
  --color: #ffae00;

  --border-color: #ffae00;
  --border-width: 4px 0;
  --border-style: double;

  --min-height: 200px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-button {
  margin: auto;
  width: 100%;
}

