<ion-header>
  <ion-toolbar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="container">
    <ion-item>
      <ion-input placeholder="Chứng Minh Nhân Dân"></ion-input><ion-icon name="key"></ion-icon>
    </ion-item>
  </ion-item>
    <ion-button fill="outline" color="warning">Đăng Nhập</ion-button>
</ion-content>